/*
	jQuery Mobile Boilerplate
	css/custom.css
*/
.section h2 {
  font-size : 3em !important;
  font-weight : bolder;

}

#Intro {
  background : url('./images/steps/intro.jpg') 100% no-repeat;
  width : 900px;
  height : 700px;

}

.level {
  position : relative;
  display: inline-block;
  width : 50px;
  height : 50px;
  margin : 25px !important;
  border : solid white 2px !important;
  border-radius : 10px;
}

.new-power {
  position :absolute;
  width : 50px;
  height: 50px;
  background: url('./images/light.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
  top : -25px;
  right : -25px;
}

.close {
  position :absolute;
  width : 50px;
  height: 50px;
  top : 0;
  right : 0;
  background: url('./images/close.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
  top : -25px;
  right : -25px;
}


#screen, #victory-recap {
  margin   : auto;
  padding  : 0;
  width : 100%;
  height: 100%;


}

#screen, #victory-recap {
  position : relative;
  background : url('./images/jungle.jpg');
  background-size : 100%;
}

#victory-recap {
  background : rgba( 0,0,0,0.75);
  position : absolute;
  top : 0;
  left : 0;
  padding-top : 50px;
  text-align : center;
  vertical-align : center;
  color : white;
  font-size : 3em;
  font-weight : bolder;
  z-index : 5;
  background : center no-repeat url('./images/thumb-up.png');
}

.next, .up {
  position :absolute;
  z-index : 1000;
  width : 150px;
  height: 150px;
  bottom : 10%;
}
.next {
  background: url('./images/fast_forward_button.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right : 10%;
}

.up {
  background: url('./images/up_button.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left : 20%;
}
#astuce {
  position : absolute;
  width : 124px;
  height : 70px;
}


#panel_bottom {
 position : absolute ;
 width : 100%;
 top : 0;
 right : 0;
}
#level_info {
  float : right;
  color : white;
  font-weight : bolder ;
}
#level_info::before { content : 'Level '}


#lhs, #rhs, #pioche {

  position : absolute;
  margin   : 0;
  padding  : 0;
  border   : solid black 5px;
  border-radius    : 10px;
}

#lhs, #rhs {
  display : flex;
  flex-flow: row nowrap;
  align-items : center;
  top      : 2%;
  width    : 45%;
  height   : 70%;
  background-color : rgba( 128 , 128 , 128 , 0.5);
 
  white-space: nowrap;
}
#lhs {
  left : 2%;
  justify-content: flex-end;
}
#rhs {
  right : 2%;
  justify-content: flex-start;
}


#pioche { 
  bottom   : 0;
  width    : 100%;
  height   : 20%;
  background-color : rgba( 0, 0 , 0 , 0.5);
  text-align : center;
}


.carte, .fraction {
  display : inline-block;
  margin  : 0;
  padding : 0;
  background : none;
}

.carte {
  position    : relative;
  text-align  : center;
  font-weight : bolder;
  font-size   : 20px;
  line-height : 50px;
  width       : 50px;
  height      : 50px;
  background-color: white;
  background-size : 100%;
  border-radius : 5px;
  border : solid black 1px;
  z-index : 1;
}

@keyframes changecolor {
  from {
    box-shadow: 0 0 25px 25px rgba(255,255,0,0.5);;
  }

  to {
    box-shadow: 0 0 25px 25px rgba(255,0,0,0.25);;    
  }
}

#lhs .carte[data-valeur='x'], #rhs .carte[data-valeur='x'] {
  animation-duration: 5s;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}


.fraction {
  padding  : 10px;
  position : absolute;
  /*border : solid black 2px;*/
}
.numerateur, .denominateur {
  display    : block;
  text-align : center;
  width  : 100%;
  height : 50px;
  margin : 0px;
  padding: 0px;
}
.numerateur { 
  border:none;
  margin-bottom : 10px;
}
.denominateur {
  border-top : solid black 5px;
  border-radius : 5px;
  margin-top : 10px;
  padding-top : 10px;

  
} 
.denominateur:empty {
  display: none;
}

.fraction[data-side='pioche'] {
  display  : inline-block;
  position : relative;
  top      : 20%; 
  margin   : 0px;
}
.fraction[data-side='pioche'] .denominateur {
 display : none;
}

#wow-dialog {
  font-size   : 75px;
  font-weight : bolder;
  text-align  : center; 
}


.ui-dialog-titlebar {

  display : none !important;
}
.ui-dialog .ui-dialog-content {
    padding: 0 !important;;
}

.shine-yellow { box-shadow : 0px 0px 5px 5px yellow  !important; }
.shine-white  { box-shadow : 0px 0px 5px 5px white !important; }
.shine-blue   { box-shadow : 0px 0px 5px 5px blue  !important; }
.shine-white  { box-shadow : 0px 0px 5px 5px white !important; }


.fraction[data-style='true']:not([data-side='pioche']) {
  position: relative;
  display : inline-block;
  top     : 0;
  left    : 0;
  margin  : 2px;

}

.numerateur[data-style='true'] {
  display : flex;
  flex-flow: row nowrap;
  align-items : flex-end;
    justify-content : center;
}
.denominateur[data-style='true'] {
  display : flex;
  flex-flow: row nowrap;
  align-items : flex-start;
    justify-content : center;
}
.denominateur[data-style='true']:empty {
  display: none;
}


.carte[data-style='true'] {
  display : flex;
  justify-content : center;
}

.bsign {
  display : flex;
  position : relative;
  padding : 0;
  margin : 2px;
  color : white;
  font-size : 50px;
  font-weight : bolder;

}

.DC, .US {
  background-color : rgba(0,0,0,0);
  background-image : url('./images/cartes/DC.png');
  background-size : 100%;  
}

.carte.rootDrop {
  position : absolute;
  top      : 0%;
  left     : 0%;
  width    : 100%;
  height   : 100%;
  background-color : rgba(0,0,0,0);
  background-image : url('./images/cartes/DC.png');
  background-size : 100% 100%;
}

.explosion {
  z-index  : 0;
  position : absolute;
  width    : 100px;
  height   : 100px;
}

#victory-anime {
  position : absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:0;
  background : center no-repeat url('./images/countdown.gif');
}

#shots {
  position : relative;
  display  : block;
  margin : auto;
  width : 100px;
  top : 0;

}
.chapter {
  background : no-repeat url('./images/chapters/chapter1.jpg');
  background-size : 100%;

}
.reward {
  position:absolute;
  top:35%;
  width:100%;
  text-align : center;
}

.star-reward {
 display:inline-block;
 width:200px;
 height:200px;
 background : no-repeat url('./images/star.png');
 background-size : 100%;
}

.score {
  position : absolute ;
  height : 25px;
  padding : 0;
  margin :0;
  display :flex;
  bottom : -20px;
  left : -10px;
  flex-flow : row nowrap;
  width:75px;
  align-content : flex-end;
}

.star-point {
  display:inline-block;
  padding:0;
  margin:auto;;
  width:25px;
  height:25px;
  background : no-repeat url('./images/star.png');
  background-size:100%;
  background-color : none;
}

